body {
  padding-top: 50px;
  padding-left: 100px;
}
#content {
  width: 800px;
  height: 500px;
  background-color: #F2F9FC;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.bubble{
	display: inline-block;
	fill-opacity: 0.5;
	stroke:  black;
	stroke-weight: 1px;
}

